// Variables
$primary-color: #1C3942;
$secondary-color: #417989;
$accent-color: #D37D36;
$danger-color: #9D0606;
$background-hover: #F3F6F6;
$heading-font: 'Alegreya SC', serif;
$body-font: 'Alice', Georgia, Times, "Times New Roman", serif;
$image-border-radius: 10px;
$border-radius: 4px;
$transition: all .25s ease-out;

// Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


html, body {
    font-size: 16px;
    font-family: $body-font;
    color: $primary-color;
    line-height: 1.4;
}

h1,h2,h3,h4,h5 {
    transition: $transition;
    margin: 0;
    padding: 0;
    font-family: $heading-font;
    color: $primary-color;
}

nav {
    background: white;
    box-shadow: 0 2px 5px $primary-color;
}

#mobile-menu {
    display: none;
}

.navbar {
    display: flex;
    align-items: flex-end;
    border-bottom: 5px solid $secondary-color;

    .navlink-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin: 0;
        width: 100%;
        font-size: 1.6rem;
        margin-right: 3rem;

        .dropdown {
            display: none;
        }

        .designLink:hover {
            .dropdown {
                background: white;
                border-radius: $border-radius;
                transition: $transition;
                width: 100%;
                opacity: 1;
                z-index: 1000;
                display: flex;
                text-align: center;
                flex-direction: column;
                gap: 0.25rem;
                position: absolute;
                top: 3rem;
                left: 0;

                a {
                    border-radius: $border-radius;
                    width: 100%;
                    padding: 1rem 0;
                    font-family: $body-font;
                    text-decoration: none;
                    border-bottom: 5px solid transparent;
                    color: $primary-color;
                    transition: $transition;

                    &:hover {
                        background: $background-hover;
                        color: $accent-color;
                        border-bottom: 5px solid $accent-color;
                    }
                }
            }
        }
        
        div {
            transition: $transition;
            margin-bottom: 1rem;
            position: relative;

            .navlinks {
                padding: 1rem 3rem;
                text-decoration: none;
                color: $primary-color;
                transition: $transition;
                border-top: 5px solid transparent;
                border-radius: $border-radius;
        
                &:hover {
                    color: $accent-color;
                    background: $background-hover;
                    border-top: 5px solid $accent-color;


                }
        
                &:focus {
                    color: $accent-color;
                    background: $background-hover;
                    border-top: 5px solid $accent-color;
                }
        
                &:active {
                    color: $danger-color;
                    background: $background-hover;
                    border-top: 5px solid $danger-color;
                }
        }
    }
        
    }

    #hamburger-menu {
        display: none;
    }
}

.logo {
   
    width: clamp(100px, 10vw, 200px);
    height: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    path {
        transition: $transition;
        fill: $primary-color;
    }
    
    &:hover {
        cursor: pointer;
        path {
            fill: $accent-color;
    }

    }
}
.hero {
    @include flex-center;

    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    

    .clip-background {
        @include flex-center;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        bottom: 0;
        right: 0;
        background: $secondary-color;
        clip-path: polygon(100% 55%, 100% 70%, 0 70%, 0 55%);
    }

    .name {
        font-size: 3rem;
        color: $primary-color;
        margin-bottom: 0;
    }
    .title {
        font-size: 1.5rem;
        color: $secondary-color;
        font-family: $body-font;
        transition: $transition;
    }

    figure .hero-image {
            max-width: 100%;
            margin-top: 1rem;
            height: auto;
            border-radius: $image-border-radius;
    }
}

.about {
    @include flex-center;

    flex-direction: column;
    margin-top: 2rem;
    


    div {
        background: white;
        max-width: clamp(75%, 80%, 720px);
        text-align: left;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-top: 2px solid $secondary-color;

        #portrait {
            transition: $transition;
            width: clamp(250px, 50%, 400px);
            height: auto;
            border-radius: 100%;
            border: 8px solid $secondary-color;
            margin: 0 auto;
            
        }
    }

    h1 {
        text-align: center;
    }
    
}

.footer {
    @include flex-center;

    width: 100%;
    height: auto;
    background: $secondary-color;
    color: white;
    flex-direction: column;
    gap: .75rem;
    padding: 0.5rem 0 1rem 0;

    .social {
        @include flex-center;

        gap: 0.5rem;
        width: 100%;
        height: 50%;

        a {
            &:hover {
                transform: scale(120%);
                svg path {
                    fill: $accent-color;
                }
            }
            &:focus {
                svg path {
                    fill: $accent-color;
                } 
            }
    
            &:active svg path {
                fill: $danger-color;

            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            path {
                transition: $transition;
                fill: white;
            }
        }

        .instagram {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}


@media screen and (max-width: 1000px) {
    .navbar {
        .navlink-wrapper .navlinks  {
            font-size: 1.25rem;
        }
        .dropdown {
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        min-height: 100px;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding: 0;
            margin: 0;
            margin-left: 1rem;
        }
        .navlink-wrapper .navlinks {
            display: none;
        }

        #hamburger-menu {
            display: flex;
            flex-direction: column;
            gap: 7px;
            min-width: 50px;
            margin-right: 1rem;
            z-index: 1000;
            
            * {
                transition: $transition;
            }

            &:hover, &:focus {
                cursor: pointer;

                .line-1,.line-2,.line-3 {
                    background: $accent-color;
                }
            }
    
            .line-1 {
                width: 100%;
                height: 5px;
                background: $primary-color;
            }
            .line-2 {
                width: 100%;
                height: 5px;
                background: $primary-color;
            }
            .line-3 {
                width: 100%;
                height: 5px;
                background: $primary-color;
                
            }
            
            &.open {
               transition: $transition;
               position: fixed;
               top: 2.25rem;
               right: 0.20rem;
               &:hover {
                   .line-1,.line-3 {
                        background: $accent-color;
                    }
                }

               .line-1 {
                   transform: translateY(13px) rotate(45deg);
                   background: white;
               }

               .line-2 {
                   transform: translateX(10px);
                   opacity: 0;
               }

               .line-3 {
                   transform: translateY(-11px) rotate(-45deg);
                   background: white;


               }

            }
        }
    }   

    .hero {
        width: 100%;d
        .name {
            font-size: 2rem;
        }

        .title {
            font-size: 1.25rem;
        }

        .hero-image {
            width: 100%;
        }
    }

    #mobile-menu {
        transition: $transition;
        height: 0;

        .mobile-links {
            display: none;
        }


        &.open {
            @include flex-center;

            flex-direction: column;
            gap: 2rem;
            transition: $transition;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: $secondary-color;

            .mobile-links {
                display: block;
                color: white;
                z-index: 1000;
                text-decoration: none;
                font-size: 2.5rem;
                border-bottom: 1px solid white;

                &:hover {
                    transition: $transition;
                    color: $accent-color;
                }
            }
        }
    }
}
