$primary-color: #1C3942;
$secondary-color: #417989;
$accent-color: #D37D36;
$danger-color: #9D0606;
$background-hover: #F3F6F6;
$heading-font: 'Alegreya SC', serif;
$body-font: 'Alice', Georgia, Times, "Times New Roman", serif;
$image-border-radius: 10px;
$border-radius: 4px;
$transition: all .25s ease-out;


html, body {
    font-size: 16px;
    font-family: $body-font;
    
}

h1,h2,h3,h4,h5 {
    transition: $transition;
    margin: 0;
    padding: 0;
    font-family: $heading-font;
    color: $primary-color;
}

nav {
    background: white;
    box-shadow: 0 2px 5px $primary-color;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: flex-end;

    .navlinks {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 100%;
        font-size: 1.6rem;
        margin-right: 3rem;
        
        a {
            padding: 1rem 3rem;
            text-decoration: none;
            color: $primary-color;
            transition: $transition;
            border: 1px solid transparent;
            border-radius: $border-radius;
    
            &:hover {
                color: $accent-color;
                background: $background-hover;
                border-top: 1px solid $accent-color;
                transform: translateY(-0.25rem);
                box-shadow: 3px 3px 3px gray;


            }
    
            &:focus {
                color: $accent-color;
                border-top: 1px solid $accent-color;
            }
    
            &:active {
                color: $danger-color;
                background: $background-hover;
                border-top: 1px solid $danger-color;
            }
        }
        
    }

    .hamburger-menu {
        display: none;
    }
}

.logo {
   
    width: clamp(100px, 10vw, 200px);
    height: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;

    &:hover {
        cursor: pointer;
        path {
            fill: $secondary-color;
    }
    path {
        transition: $transition;
        fill: $primary-color;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    

    .clip-background {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: -1;
        bottom: 0;
        right: 0;
        background: $secondary-color;
        clip-path: polygon(100% 55%, 100% 70%, 0 70%, 0 55%);
    }

    .name {
        font-size: 3rem;
        color: $primary-color;
        margin-bottom: 0;
    }
    .title {
        font-size: 1.5rem;
        color: $secondary-color;
        font-family: $body-font;
        transition: $transition;
    }

    .hero-image {
        max-width: 100%;
        margin-top: 1rem;
        height: auto;
        border-radius: $image-border-radius;
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;


    div {
        background: white;
        border-radius: $border-radius;
        border-left: 2px solid $secondary-color;
        border-right: 2px solid $secondary-color;
        max-width: clamp(75%, 80%, 720px);
        text-align: left;
        padding: 1rem;
    }

    h1 {
        margin-bottom: 0;
    }
    
}

@media screen and (max-width: 1000px) {
    .navbar {
        .navlinks a {
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        min-height: 100px;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding: 0;
            margin: 0;
            margin-left: 1rem;
        }
        .navlinks a {
            display: none;
        }

        .hamburger-menu {
            display: flex;
            flex-direction: column;
            gap: 7px;
            min-width: 60px;
            margin-right: 1rem;
            
            * {
                transition: $transition;
            }

            &:hover, &:focus {
                cursor: pointer;

                .line-1,.line-2,.line-3 {
                    background: $accent-color;
                }
            }
    
            .line-1 {
                width: 100%;
                height: 5px;
                background: $primary-color;
            }
            .line-2 {
                width: 100%;
                height: 5px;
                background: $primary-color;
            }
            .line-3 {
                width: 100%;
                height: 5px;
                background: $primary-color;
                
            }
        }


        
    }

    .hero {
        .name {
            font-size: 2rem;
        }

        .title {
            font-size: 1.25rem;
        }
    }


}
    
    
    
