html, body {
  font-size: 16px;
  font-family: "Alice", Georgia, Times, "Times New Roman", serif;
  color: #1C3942;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin: 0;
  padding: 0;
  font-family: "Alegreya SC", serif;
  color: #1C3942;
}

nav {
  background: white;
  -webkit-box-shadow: 0 2px 5px #1C3942;
          box-shadow: 0 2px 5px #1C3942;
}

#mobile-menu {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 5px solid #417989;
}

.navbar .navlink-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  margin: 0;
  width: 100%;
  font-size: 1.6rem;
  margin-right: 3rem;
}

.navbar .navlink-wrapper .dropdown {
  display: none;
}

.navbar .navlink-wrapper .designLink:hover .dropdown {
  background: white;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  width: 100%;
  opacity: 1;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  position: absolute;
  top: 3rem;
  left: 0;
}

.navbar .navlink-wrapper .designLink:hover .dropdown a {
  border-radius: 4px;
  width: 100%;
  padding: 1rem 0;
  font-family: "Alice", Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  color: #1C3942;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.navbar .navlink-wrapper .designLink:hover .dropdown a:hover {
  background: #F3F6F6;
  color: #D37D36;
  border-bottom: 5px solid #D37D36;
}

.navbar .navlink-wrapper div {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin-bottom: 1rem;
  position: relative;
}

.navbar .navlink-wrapper div .navlinks {
  padding: 1rem 3rem;
  text-decoration: none;
  color: #1C3942;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  border-top: 5px solid transparent;
  border-radius: 4px;
}

.navbar .navlink-wrapper div .navlinks:hover {
  color: #D37D36;
  background: #F3F6F6;
  border-top: 5px solid #D37D36;
}

.navbar .navlink-wrapper div .navlinks:focus {
  color: #D37D36;
  background: #F3F6F6;
  border-top: 5px solid #D37D36;
}

.navbar .navlink-wrapper div .navlinks:active {
  color: #9D0606;
  background: #F3F6F6;
  border-top: 5px solid #9D0606;
}

.navbar #hamburger-menu {
  display: none;
}

.logo {
  width: clamp(100px, 10vw, 200px);
  height: auto;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.logo path {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  fill: #1C3942;
}

.logo:hover {
  cursor: pointer;
}

.logo:hover path {
  fill: #D37D36;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

.hero .clip-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  right: 0;
  background: #417989;
  -webkit-clip-path: polygon(100% 55%, 100% 70%, 0 70%, 0 55%);
          clip-path: polygon(100% 55%, 100% 70%, 0 70%, 0 55%);
}

.hero .name {
  font-size: 3rem;
  color: #1C3942;
  margin-bottom: 0;
}

.hero .title {
  font-size: 1.5rem;
  color: #417989;
  font-family: "Alice", Georgia, Times, "Times New Roman", serif;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.hero figure .hero-image {
  max-width: 100%;
  margin-top: 1rem;
  height: auto;
  border-radius: 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.about div {
  background: white;
  max-width: clamp(75%, 80%, 720px);
  text-align: left;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #417989;
}

.about div #portrait {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  width: clamp(250px, 50%, 400px);
  height: auto;
  border-radius: 100%;
  border: 8px solid #417989;
  margin: 0 auto;
}

.about h1 {
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  background: #417989;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
  padding: 0.5rem 0 1rem 0;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 50%;
}

.footer .social a:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.footer .social a:hover svg path {
  fill: #D37D36;
}

.footer .social a:focus svg path {
  fill: #D37D36;
}

.footer .social a:active svg path {
  fill: #9D0606;
}

.footer .social svg {
  width: 1.5rem;
  height: 1.5rem;
}

.footer .social svg path {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  fill: white;
}

.footer .social .instagram {
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (max-width: 1000px) {
  .navbar .navlink-wrapper .navlinks {
    font-size: 1.25rem;
  }
  .navbar .dropdown {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    min-height: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
  }
  .navbar .navlink-wrapper .navlinks {
    display: none;
  }
  .navbar #hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
    min-width: 50px;
    margin-right: 1rem;
    z-index: 1000;
  }
  .navbar #hamburger-menu * {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .navbar #hamburger-menu:hover, .navbar #hamburger-menu:focus {
    cursor: pointer;
  }
  .navbar #hamburger-menu:hover .line-1, .navbar #hamburger-menu:hover .line-2, .navbar #hamburger-menu:hover .line-3, .navbar #hamburger-menu:focus .line-1, .navbar #hamburger-menu:focus .line-2, .navbar #hamburger-menu:focus .line-3 {
    background: #D37D36;
  }
  .navbar #hamburger-menu .line-1 {
    width: 100%;
    height: 5px;
    background: #1C3942;
  }
  .navbar #hamburger-menu .line-2 {
    width: 100%;
    height: 5px;
    background: #1C3942;
  }
  .navbar #hamburger-menu .line-3 {
    width: 100%;
    height: 5px;
    background: #1C3942;
  }
  .navbar #hamburger-menu.open {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    position: fixed;
    top: 2.25rem;
    right: 0.20rem;
  }
  .navbar #hamburger-menu.open:hover .line-1, .navbar #hamburger-menu.open:hover .line-3 {
    background: #D37D36;
  }
  .navbar #hamburger-menu.open .line-1 {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
    background: white;
  }
  .navbar #hamburger-menu.open .line-2 {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  .navbar #hamburger-menu.open .line-3 {
    -webkit-transform: translateY(-11px) rotate(-45deg);
            transform: translateY(-11px) rotate(-45deg);
    background: white;
  }
  .hero {
    width: 100%;
  }
  .hero d
.name {
    font-size: 2rem;
  }
  .hero .title {
    font-size: 1.25rem;
  }
  .hero .hero-image {
    width: 100%;
  }
  #mobile-menu {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    height: 0;
  }
  #mobile-menu .mobile-links {
    display: none;
  }
  #mobile-menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #417989;
  }
  #mobile-menu.open .mobile-links {
    display: block;
    color: white;
    z-index: 1000;
    text-decoration: none;
    font-size: 2.5rem;
    border-bottom: 1px solid white;
  }
  #mobile-menu.open .mobile-links:hover {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    color: #D37D36;
  }
}
/*# sourceMappingURL=main.css.map */